.container {
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: max-content;

}
.contact-form {
    max-width: 20rem;
    margin: auto;
}
.contact-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input{
    padding: 1rem;
    border:none;
    box-shadow: 5px 5px 5px 5px rgb(153, 145, 145);
    border-radius: 10px;
}
textarea{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(153, 145, 145);
}
textarea ::placeholder{
    text-decoration: dashed;

}
.contac_heading{
    text-align: center;
}
.ding{
  background-size: 50% auto;
    background-image: url('https://img.freepik.com/free-vector/flat-customer-support-illustration_23-2148899114.jpg?w=740&t=st=1696591802~exp=1696592402~hmac=d734597b6ab784bfbbe4fc6b3dbb017f0fe1b393ef95fa5ad2964fccf4b0802a');
}
