.cc{
    margin: 10px;
   border-radius: 20px;
   display: flex;
   flex-direction: row;
}

.text{
    overflow: hidden;
    margin: 30px;
    display: flex;
}
.textContainer{
    margin: 20px;
    width: 50%;    
}
.textContainer h2{
    text-align: center;
  padding: 20px;
  background-color: #3498db;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
    
}
.cardHolder{
    display: flex;
}
.card{
    margin: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow:  5px 10px 5px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    flex-basis: calc(33.33% - 10px);
  }
  .card:hover {
    transform: scale(1.05); /* Increase the card size on hover */
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  .card p {
    font-size: 1rem;
    color: #555;
  }
  .volenteers{
    display: flex;
    margin: 10px;
    border-radius: 5px;
  }

.image_container{
    display: flex;
    justify-content: center;

}

@media (max-width: 768px) {
  .cc {
    flex-direction: column; /* Stack columns on top of each other */
  }

  .col-md-12,
  .textContainer {
    flex: initial; /* Reset flex properties */
    width: 100%; /* Full width for each column */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}





